<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Login<span class="span text-danger">app</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav mx-right">
      <li class="nav-item active" *ngIf="!isLoggin()">
        <a class="nav-link" href="#" routerLink="/login">Iniciar Sesion</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggin()">
        <a class="nav-link" href="#" routerLink="/register">Registrarse</a>
      </li>
      <li class="nav-item" *ngIf="isLoggin()">
        <a class="nav-link" href="#" (click)="onClickLogout()">Salir</a>
      </li>


    </ul>
  </div>
</nav>