<div class="row mt-3">
  <div class="col-md-6 mx-auto text-center">
    <div class="card">
      <h1>Oops!</h1>
      <h4>404 Pagina no encontrada</h4>
      <div class="card-body">
        <a href="/" class="btn btn-primary btn-lg"><i class="fa fa-home"></i> Ir a la home pagina</a>
      </div>
    </div>
  </div>
</div>