
.btn-facebook, .btn-google, .btn-twitter{
    width: 32%;
}
.btn-facebook{
    background:#3B5998;
    color:#fff;
}
.btn-google{
    background:rgb(190, 10, 4);
    color:#fff;
}
.btn-twitter{
    background: #55acee;
    color: #fff;
}
